

:root {
    --background: #f8fafc;
    --background-code: #f8fafc;
    --white: #ffffff;
    --black: #22292f;
    --grey-light: #dae1e7;
    --grey-dark: #606f7b;
    --red: #e3342f;
    --red-dark: #cc1f1a;
    --blue: #3490dc;
    --blue-dark: #2779bd;
    --green: #38c172;
    --green-dark: #1f9d55;
    --yellow: #F7B500;
    --yellow-dark: #DEA300;
    --pink: #f66d9b;
    --pink-dark: #eb5286;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes pulsate {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes drop {
  from {transform: translateY(-130%);}
  to {transform: translateY(0);}
}

html {
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  overflow: auto;
  background: var(--background);
}

a {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px dotted var(--blue);
}

body {
  color: var(--black);
  max-width: 1160px;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  counter-reset: footnote;
}

button {
  border: none;
  background: var(--red);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--white);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  border-bottom: 0.2rem solid var(--red-dark);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8rem;
}

button:hover {
    border-bottom: 0.3rem solid var(--red-dark);
    margin-top: 0.4rem;
}

button:active {
    border-bottom: none;
    margin-top: 0.7rem;
}

button:disabled {
  background: var(--red-dark);
  cursor: not-allowed;
}

details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

form.contact {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

form.register {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

form.login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

h1 {
  font-size: 2em;
  margin-top: 0rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 10px solid var(--grey-dark);
  border-radius: 0;
  color: var(--grey-dark);
}


h2 {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}


hr {
  position: relative;
  border: none;
  background: var(--white);
  overflow: visible;
  border-top: 1px solid var(--grey-light);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

hr:after {
  content: "§";
  background: var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  top: -0.9em;
  color: var(--grey-light);
}

img {
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 500px;
}

iframe {
  max-width: 100%;
  border: none;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  font-size: 0.8rem;
  font-family: inherit;
  box-sizing: border-box;
  background: var(--grey-light);
  color: var(--grey-dark);
  margin-bottom: 0.5rem;
}

input:focus {
    background: var(--white);
}

input:disabled {
  background: var(--grey-dark);
  color: var(--white);
  cursor: not-allowed;
}


pre {
  background: var(--background-code);
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
  line-height: 1.1;
  font-size: 0.9rem;
}

summary {
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: -1rem;
  color: var(--grey-dark);
}

table {
  text-align: right;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--grey-dark);
}

th {
  border-bottom: 1px solid var(--grey-dark);
}

td {
  border-bottom: 1px solid var(--grey-light);
}

textarea {
  font-family: inherit;
  font-size: inherit;
  background: var(--grey-light);
  font-size: inherit;
  color: var(--grey-dark);
  max-width: 100%;
}

textarea:focus {
    background: var(--white);
    color: var(--black);
}

textarea.comment {
  width: 100%;
  font-family: inherit;
  padding: 0.5rem;
  box-sizing: border-box;
  max-width: 100%;
  border: none;
}

td {
  padding: 0.2rem;
}

th {
  padding: 0.2rem;
  padding-right: 0.5rem;
}

ul.puzzle-list {
  list-style-type: none;
  line-height: 1.75;
  -moz-column-count: 2;
  -moz-column-gap: 2rem;
  -webkit-column-count: 2;
  -webkit-column-gap: 2rem;
  column-count: 2;
  column-gap: 2rem;
  padding-left: 0;
}

li {
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

ul.puzzle-list li {
  display: flex;
  align-content: center;
  align-items: center;

}


ul.puzzle-list .timestamp {
  margin-right: 0.8em;
}

.container {
  animation: fadein 0.4s;
  width: 69%;
  background: white;
  padding: 3%;
  border-radius: 5px;
  border-bottom: 2px solid var(--grey-light);
}

.close-button {
  position: sticky;
  width: 75%;
  background: #f1f5f8;
  top: 0rem;
  left: 0rem;
}

.close-button button {
  font-family: inherit;
  border: none;
  margin: 0;
  border-radius: 0;
  padding: 0.5rem;
  cursor:pointer;
  background: #f1f5f8;
  color: var(--grey-dark);
}


.contact textarea {
  border: none;
  padding: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.7rem;
}

.contact input {
  padding: 0.25rem;
  font-family: inherit;
  font-size: 0.7rem;
  width: 100%;
}

.contact button {
  font-size: 0.7rem;
  width: 100% !important;
}


.comment-input-container {
  width: 100%;
}

.comment-preview-container {
}

.comment-item {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.comment-button {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.comment-header {
  font-weight: bold;
}

.comment-body {
  margin-left: 1rem;
  padding-left: 1rem;
  border: none;
  font-size: 0.9rem;
}

.comment.preview {
  margin-top: 1rem;
  overflow: auto;
  font-size: 0.9rem;
  padding-left: 1rem;
  border: none;
  margin-left: 1rem;
}

.comment h1 {
  font-size: 1.5em;
  margin-top: 1em;
}

.comment h2 {
  font-size: 1.3em;
  margin-top: 1em;
}

.difficulty {
  text-align: left;
}

.footnote-intext:after {
  counter-increment: footnote;
  content: counter(footnote);
  font-size: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 100%;
  text-align: center;
  margin-left: 0.2rem;
  top: 0;
}


.footnote {
  color: var(--grey-dark);
  width: 25%;
  float: right;
  clear: right;
  margin-right: -33%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footnote-outtext::before{
  content: counter(footnote);
  color: var(--grey-dark);
  font-size: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top: 0;
  border-radius: 100%;
  border: 1px solid var(--grey-dark);
  margin-right: 0.3rem;
}

.loading {
  animation: pulsate 2s infinite;
}

.container.no-fade {
    height: 80vh;
}

.login-first-line {
  display: flex;
  align-content: center;
  align-items: center;
}

.login-second-line {
  display: flex;
  align-content: center;
  align-items: center;
}


.login input {
    margin-top: 0.5rem;
    flex-grow: 1;
}

.login button {
    width: 25%;
}

.modal {
  animation: fadein 0.4s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background: var(--background);
  left: 0;
}


.modal .pseudobody .container div {
  animation: fadein 0.3s;
}



.message {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  color: var(--black);
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  text-align: center;
  width: 22%;
  z-index: 2;
  cursor: pointer;
  animation: drop 0.1s;
  border-bottom: 2px solid var(--grey-light);
}

.message-footer {
  margin-top: 1rem;
  text-align: right;
  font-size: 0.6rem;
}

.no-fade {
  animation: none !important;
}
.no-overflow {
height: 80vh;
overflow: hidden;
}

.main {
  margin-top: 1.5rem;
}

.modal .pseudobody {
  max-width: 1160px;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  counter-reset: footnote;
  background: var(--background);
}

.panel-container {
  display: flex;
  justify-content: center;
}

.panel {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--background) !important;
}

.panel.Meta{
    background: var(--pink);
    border-color: var(--pink);
}

.panel.Abstract {
    background: var(--red);
    border-color: var(--red);
}

.panel.Beginner {
    background: var(--yellow);
    border-color: var(--yellow);
}

.panel.Challenge {
    background: var(--green);
    border-color: var(--green);
}

.panel.off {
    background: var(--white);
}

.puzzle {
  padding-bottom: 1rem;
}

.puzzle .input.Abstract {
    border-left: 5px solid var(--red);
}
.puzzle .input.Meta{
    border-left: 5px solid var(--pink);
}
.puzzle .input.Beginner{
    border-left: 5px solid var(--yellow);
}
.puzzle .input.Challenge{
    border-left: 5px solid var(--green);
}

.main-header {
    border-width: 0;
    text-align: left;
    padding-left: 2rem;
    border-left-width: 10px;
    border-style: solid;
    background: var(--white);
    border-radius: 0;
}

.puzzle h1.main-header.Meta{
    border-color: var(--pink);
}
.puzzle h1.main-header.Abstract{
    border-color: var(--red);
}

.puzzle h1.main-header.Beginner{
    border-color: var(--yellow);
}

.puzzle h1.main-header.Challenge{
    border-color: var(--green);
}

.ranksquare {
  display: inline-block;
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  background: var(--grey-dark);
  color: var(--white);
  border-radius: 5px;
}

.rankbig {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

.rankpoints {
  margin: auto;
  text-align: center;
  width: 100%;
}

.ranksvg {
  width: calc(100% - 10rem);
  margin: 0;
  padding: 0;
}

.ranksvg rect {
  fill: var(--grey-dark);
}

.ranksvg text {
  font-size: 2rem;
  fill: var(--black);
}

.answer {
  font-weight: bold;
}

.puzzle-list-item {
    margin-bottom: 10px;
    padding: 0.1rem;
    color: var(--white);
    border-radius: 5px;
    border-width: 5px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
}

.puzzle-list-item .timestamp {
    color: var(--white) !important;
}

.puzzle-list-item:hover {
    margin-top: -2px;
    border-bottom-width: 4px;
}

.puzzle-list-item:active {
    margin-top: 2px;
    border-bottom-width: 0px;
    margin-bottom: 12px;
}


.puzzle-list-item.Meta{
    background: var(--pink);
    border-color: var(--pink-dark);
}

.puzzle-list-item.Abstract {
    background: var(--red);
    border-color: var(--red-dark);
}

.puzzle-list-item.Beginner {
    background: var(--yellow);
    border-color: var(--yellow-dark);
}

.puzzle-list-item.Challenge {
    background: var(--green);
    border-color: var(--green-dark)
}

.puzzle-list-marker {
  font-size: 0.7rem;
  color: var(--white);
  margin-right: 0.5rem;
  text-align: center;
  overflow: hidden;
  padding: 0.1rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  margin-top: 2px;
  font-weight: bold;

}

.puzzle-list-marker-contents * {
  height: auto;
}

.puzzle-stats-container .text {
  text-align: right;
}

.puzzle .input {
  padding-left: 1rem;
  margin-left: 1rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.puzzle .statement {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.references {
}

.register input {
    border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: inherit;
}

.solved {
  content:  "✓";
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}

.solved-item {
    background: var(--grey-light) !important;
    border-color:  #b8c2cc!important;
    color: var(--grey-dark) !important;
}

.solved-item *{
    color: var(--grey-dark) !important;
}

.solved-item .timestamp {
    color: var(--grey-dark) !important;
}

.solved::before {
  content: "✓";
}

.submission-container {
  position: sticky;
  bottom: 0;
  left: 0;
  background: var(--white);
  width: 100%;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}

.submission-controls {
    background: var(--white);
    display: flex;
    margin: auto;
}

.submission-container input {
    max-width: 700px;
    min-width: 250px;
    border-bottom: 0.2rem solid var(--grey-light);
}

.submission-container button {
}

.subtitle {
  text-align: right;
  color: var(--grey-dark);
  font-size: 0.9rem;
  border-right: 2px solid var(--grey-dark);
  padding-right: 1rem;
}

.theme {
  font-style: italic;
}

.timestamp {
  font-size: 0.9em;
  color: var(--grey-dark);
  text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
  .footnote {
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background: var(--white);
    float: none;
    text-align: center;
    clear: both;
  }

  .container {
    width: 100%;
    padding: 0;
}

  .close-button {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  h1 {
    margin-top: 1rem;
    padding: 0.5rem;
  }

  h2 {
    margin-top: 0.2rem;
  }

  ul.puzzle-list {
    list-style-type: none;
    line-height: 1.75;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding-left: 0;
  }

  ul.puzzle-list li {
    border-bottom: 1px solid var(--grey-dark);
    padding-left: 0;
  }

  html {
    overflow: auto;
    height: 100vh;
  }

  table {
    max-width: 100vw;
    font-size: 0.5rem;
  }

  body {
    padding-top: 0.5rem;
  }

  .modal {
    position: fixed;
    overflow: auto;
  }

  .difficulty {
    text-align: center;
  }

  .puzzle-stats-container .text {
    text-align: center;
  }

  html {
      background: var(--white);
  }

  .pseudobody {
      background: var(--white) !important;
  }
 .message {
      width: 95vw;
      top: 0;
      left: 0;
      padding-left: 2vw;
      padding-right: 2vw;
      margin: 0;
      border-radius: 0;
  }


}
