@charset "utf-8";

$modal-content-width: 100%;
$modal-card-spacing: 0px;
$modal-card-head-radius: 0px;
$modal-card-foot-radius: 0px;

$pageloader-opacity: 0.7;

@import "../../node_modules/bulma/bulma.sass";
//@import "../../node_modules/bulma-extensions/bulma-divider/src/sass/index.sass"
@import "../../node_modules/bulma-extensions/bulma-pageloader/src/sass/index.sass"
