

:root {
    --background:#2c3030;
    --background-inactive: #1d2120;
    --background-puzzle: #272b2b;
    --foreground:#a9adad;
    --foreground-inactive: #5d6060;
    --foreground-lessen: #7c8282;
    --colour-emphasis: #eeeeee;
}


html {
  font-size: 95%;
}

* {
    font-family:"Space Mono", "Monaco", "Lucida Sans Typewriter", monospace;
}

a {
  color: var(--foreground-inactive);
  text-decoration: none;
}

a:hover {
  color: var(--foreground);
}

html {
  height: 95%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
}


/* NAV BAR */

.nav {
  display: flex;
  padding: 5px;
  background-color: var(--background);
  position: fixed;
  width: 95%;
  height: 1.8em;
  overflow: auto;
}


.nav a {
  color: var(--foreground-inactive);
  text-decoration: none;
  padding-right: 1em;
}

.nav a:hover{
  color: var(--foreground);
}

.nav a.active {
  color: var(--foreground);
  font-weight: bold;
}


/* TEXT STYLES */
.lessen {
  color: var(--foreground-lessen);
}

.tagline {
  font-size: 0.9em;
  color: var(--foreground-);
}

.strengthen {
  font-weight: bold;
}

b {
  color: var(--colour-emphasis);
}


/* SPACER */
.spacer {
  height: 2em;
}

.toggler {
  border-bottom: 1px dotted var(--foreground-lessen);
}

.toggler:hover {
  color: var(--foreground);
  cursor: pointer;
}

.theme-switch {
  color: var(--foreground-inactive);
  padding-right: 1em;
  cursor: pointer;
}

.theme-switch:hover {
  color: var(--foreground);
}

/* MAIN */

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}


/* CONTAINER */

.container {
  margin: auto;
  overflow: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.submissions {
  white-space: nowrap;
  overflow: auto;
  padding-bottom: 20px;
}

.leaderboard {
}



/* OPTIONS */

.options {
  text-align: right;
  position: absolute;
  background: var(--background-inactive);
  padding: 5px;
  align-self: flex-end;
  margin-top: 1em;
}

.no-overflow {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.option {
  cursor: pointer;
  color: var(--foreground-lessen);
    border-bottom: 1px dotted var(--foreground-lessen);
}

.option:hover {
  color: var(--foreground);
}


/* GRID */

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 300px;
}

.item {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-color: var(--background-inactive);
  border-radius: 5px;
}


.grid .item img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  border: 0px;
}

.half-opacity {
  opacity: 0.4;
}

.grid .item img:hover {
  margin: -1px;
  height: 51px;
  width: 51px;
  cursor: pointer;
}

.item:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  background: var(--background-inactive);
  color: var(--foreground);
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-size: 0.8rem;
  padding: 5px 10px 5px 10px;
  -webkit-box-shadow: 0 0 20px var(--background-inactive);
  box-shadow: 0 0 20px var(--background-inactive);
  z-index: 500;
  margin-left: 0.5em;
}


.grid .item img:active {
  margin: 1px;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

/* TABLES */

td {
  padding: 0 10px 0 0px;
  font-size: 1em;
}

/* LOADER */
.loader {
  width: 10px;
  height: 10px;
  background-color: var(--foreground);
  border-radius: 120px;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% { transform: translate(0, -2em);}
  50% {transform: translate(0,2em);}
  100% {transform: translate(0, -2em);}
}

.loading-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  background: var(--background-inactive);
}

::-webkit-scrollbar-track {
  background: var(--background-inactive);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-inactive);
}


/* INPUTS */

input {
  background: var(--background-inactive);
  color: var(--foreground);
  font-family:"Space Mono", "Monaco", "Lucida Sans Typewriter", monospace;
  border-width: 0px;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.register-list {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

form {
  width: 100%;
}

.hide {
  display:none;
}

form input {
  width: 100%;
  font-size: 1em;
}

form button {
  font-size: 1em;
  margin-bottom: 1em;
}

.small-button {
  background: var(--background-inactive);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 0px;
}

.login.message {
  max-width: 300px;
}


.login-list {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}


.register.message {
  max-width: 300px;
}

button {
  display: block;
  background: var(--background);
  margin: auto;
  border-width: 0px;
  color: var(--foreground-lessen);
  padding: 5px;
  cursor: pointer;
}

button:hover {
  color: var(--foreground);
  font-weight: bold;
}

.login input {
  width: auto;
  flex-grow: 1;
  margin-right: 5px;
}

input:disabled {
  cursor: not-allowed;
  background: var(--foreground-lessen);
}

button:disabled {
  background: var(--background);
  color: var(--background);
  cursor: default;
}

/* MESSAGES */
.message {
  font-size: 0.95em;
}

/* PUZZLE */

.puzzle-container {
  width: 95%;
  margin-top: 2.5em;
  height: calc(95% - 2em);
}

.puzzle {
  -webkit-box-shadow: 0 0 20px var(--background-inactive);
  box-shadow: 0 0 20px var(--background-inactive);
  background: var(--background-puzzle);
  border-radius: 10px;
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.puzzle-top {
  margin: 5px;
  margin-bottom: 10px;
}


.puzzle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  background:var(--background-puzzle);
}

.puzzle-header button {
  background: var(--background-puzzle);
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 1em;
}

.puzzle-header .right {
  display: flex;
}

.puzzle-tags {
  font-size: 0.95em;
  color: var(--foreground-lessen);
}

.puzzle-tag {
  margin-right: 10px;
}

.title {
  text-transform: uppercase;
  font-size: 1.2em;
}

.puzzle-body {
  max-height: 82%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.puzzle-body * {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.4;
  font-size: 0.9rem;
}

  .puzzle-video-version {
    max-width: 384px;
    margin: auto;
  }
.puzzle-video {
  width: 384px;
  height: 216px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.puzzle-video * {
  border: none;
  -webkit-box-shadow: 0 0 10px var(--background-inactive);
  box-shadow: 0 0 10px var(--background-inactive);
}

.puzzle-video-placeholder {
  width: 364px;
  height: 196px;
  margin: auto;
  background: var(--background-inactive);
  text-align: center;
  color: var(--foreground);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
  overflow: auto;
  font-family: "Space Mono", monospace !important;
}

pre * {
  font-size: 0.6rem !important;
}

code {
  font-family: "Space Mono", monospace !important;
}

.puzzle-statement {
  font-size: 1.0em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  color: var(--colour-emphasis);
}

.puzzle-statement * {
  font-family: "Space Mono", monospace !important;
  font-size: 0.8rem;
}

.puzzle-example {
  border: 1px dotted var(--foreground-lessen);
  color: var(--foreground-lessen);
  border-radius: 5px;
  padding: 20px;
}

.puzzle-padder {
  padding-left: 10%;
  padding-right: 10%;
}

.puzzle-text-only {
  width:
}

.puzzle-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--background-inactive);
}

.puzzle button {
  font-size: 1em;
}

.puzzle-bottom .message {
  text-align: center;
  padding-bottom: 15px;
}

.puzzle img {
  margin: auto;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
}

.puzzle-input {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  background: var(--background-inactive);
  padding: 10px;
  border-radius: 5px;
  flex-grow: 0;
}

.puzzle-input * {
  font-family: "Space Mono", monospace !important;
  font-size: 0.8rem;
  width: auto;
}

.puzzle-input p {
  margin: auto;
}

.puzzle-references {
  padding-bottom: 0.5em;
  color: var(--foreground-lessen);
  text-align: right;
}

.puzzle-references * {
  font-family: "Space Mono", monospace;
  font-size: 0.65rem;
}


.puzzle-solution {
  padding-bottom: 2em;
}

.puzzle-answer {
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  background: var(--background-inactive);
  font-weight: bold;
  padding: 1em;
  width: 50%;
  overflow: auto;
  border-radius: 5px;
}


.submission-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 20em;
}

.submission-container input {
  flex-grow: 1;
  min-width: 2em;
  font-size: 1.3em;
  text-align: center;
}

.submission-container button {
  background: var(--background-puzzle);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-image img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 1em;
}

.success-button {
  margin-top: 0.3em;
  font-size: 1.1rem;
}

/* LISTS */
ul {
  list-style-type: circle;
}


/* PLACEHOLDER */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--foreground-inactive);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--foreground-inactive);
}


/* RESPONSIVE */

@media only screen and (max-width: 768px) {

  body {
    margin: 0px;
    padding: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .nav {
    height: auto;
    flex-wrap: wrap;
    box-shadow: 0px 5px 5px -5px var(--background-inactive);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-top: -10px;
  }

  .nav a {
    margin-bottom: 2px;
  }

  pre {
    padding-left: 1em;
  }

  .main {
    height: auto;
    display: flex;
    padding-top: 6em;
    padding-bottom: 1em;
  }
 .loading-container {
   margin-top: 2em;
 }

 .tagline {
   max-width: 90%;
 }
  @keyframes bounce {
    0% { transform: translate(-2em, 0);}
    50% {transform: translate(2em,0);}
    100% {transform: translate(-2em, 0);}
  }

  .grid {
    width: 250px !important;
    height: 250px !important;
  }

  .item  {
    width: 40px !important;
    height: 40px !important;
  }

  .grid .item img {
    height: 40px !important;
    width: 40px !important;
  }

  .container {
    max-width: 90%;
  }

  .small-button {
    font-size: 0.8rem;
    margin-top: 0;
  }

  .form-control {
    display: flex;
  }

  .puzzle-body {
    max-height: none;
  }

  .puzzle-body p {
    padding-left: 5px;
    padding-right: 5px;
  }

  blockquote {
    margin-inline-start: 10px !important;
    margin-inline-end: 10px !important;
  }

  .puzzle {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 0;
    margin-left: -10px;
    margin-right: -10px;
  }

  .puzzle-padder {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
  }

  .puzzle-container {
    margin: 0px;
  }

  .puzzle-video {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .puzzle-video * {
    width: 100%;
    height: auto;
  }

  .puzzle-video-placeholder {
    width: 176px;
    height: 88px;
    font-size: 0.8em;
  }

  .leaderboard td {
    font-size: 0.9em;
    padding: 0 2px 0 0;
  }

  .prizes td {
    font-size: 0.7em;
    padding: 0 2px 0 0;
  }
}
