
<body>
  <div class="nav">
    <a href="https://google.com">cigmah</a>
    <a class="active" href="https://google.com">info</a>
    <a href="https://google.com">puzzles</a>
    <a href="https://google.com">leaderboard</a>
    <a href="https://google.com">prizes</a>
  </div>

  <div class="main">
    <div class="container">
        <p>
        <span class="lessen">?- about(puzzlehunt)</span>
        <br>
        Free coding puzzles about medicine.
        <br>
        <br>
        <span class="lessen">?- duration(puzzlehunt)</span>
        <br>
        March 9th - September 30th.
        <br>
        <br>
        <span class="lessen">?- size(puzzlehunt)</span>
        <br>
        25 puzzles, 3 per month.
        <br>
        <br>
        <span class="lessen">?- contact(puzzlehunt)</span>
        <br>
        cigmah.contact at gmail dot com
        </p>
    </div>
  </div>
</body>

