<body>
  <div class="nav">
    <a href="https://google.com">cigmah</a>
    <a class="active" href="https://google.com">info</a>
    <a href="https://google.com">puzzles</a>
    <a href="https://google.com">leaderboard</a>
    <a href="https://google.com">prizes</a>
  </div>

  <div class="main">
    <div class="container">
      <span class="lessen">?- top10(<span class="toggler">puzzle</span><span class="toggler">MetabolicMayhem</span>)</span>
      <div class="options">
        <span class="option">Infectious Network</span><br>
        <span class="option">Combo Catcher</span><br>
      </div>
      <div class="leaderboard">
      <table>
        <tr>
          <td class="lessen">(1)</td>
          <td class="strengthen">username</td>
          <td class="lessen">[790p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
        <tr>
          <td class="lessen">(2)</td>
          <td class="strengthen">another username</td>
          <td class="lessen">[483p]</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</body>

