<body>

  <div class="nav">
    <a href="https://google.com"><b>cigmah</b></a>
    <a href="https://google.com">info</a>
    <a href="https://google.com">puzzles</a>
    <a href="https://google.com">leaderboard</a>
    <a href="https://google.com">prizes</a>
    <span style="padding-right: 1em; color: var(--foreground-inactive)">|</span>
    <a href class="active"="https://google.com">register</a>
    <a href="https://google.com">login</a>
    </div>
  </div>
  
  
  <div class="main">
    <div class="container">
    <div class="center">
      <ul>
        <li>Make sure you have registered first.</li>
        <li>Input your email and press Send Token.</li>
        <li>We'll automatically send you a login token.</li>
        <li>Then input the login token.</li>

      </ul>
      <form class="login">
        <div class="form-control">
          <input type="email" placeholder="Email"></input>
          <button>Send Login Token</button>
        </div>
        <div class="form-control">
          <input disabled type="text" placeholder="Login Token"></input>
        </div>
        <button>Login</button>
      </form>
      
      <div class="message">
        This is a message generated here. 
      </div>
    </div>
    </div>
  </div>
</body>