
<body>

  <div class="nav">
    <a href="https://google.com"><b>cigmah</b></a>
    <a href="https://google.com">info</a>
    <a href="https://google.com">puzzles</a>
    <a href="https://google.com">leaderboard</a>
    <a href="https://google.com">prizes</a>
    <span style="padding-right: 1em; color: var(--foreground-inactive)">|</span>
    <a href class="active"="https://google.com">register</a>
    <a href="https://google.com">login</a>
    </div>
  </div>
  
  
  <div class="main">
    <div class="container">
    <div class="center">
      <ul>
        <li>We email you login tokens to verify your identity.</li>
        <li>We don't spam you or share your email.</li>
        <li>Don't use your email as your username.</li>
        <li>After registering, go to the login tab.</li>

      </ul>
      <form class="register">
        <div class="form-control">
          <input type="text" placeholder="Username*"></input>
        </div>
        <div class="form-control">
          <input type="email" placeholder="Email*"></input>
        </div>
        <div class="form-control">
          <input type="text" placeholder="First Name"></input>
        </div>
        <div class="form-control">
          <input type="text" placeholder="Last Name"></input>
        </div>
        <button>Register</button>
      </form>
      
      <div class="message">
        This is a message generated here. 
      </div>
    </div>
    </div>
  </div>
</body>
