<body>
  <div class="nav">
    <a href="https://google.com">cigmah</a>
    <a class="active" href="https://google.com">info</a>
    <a href="https://google.com">puzzles</a>
    <a href="https://google.com">leaderboard</a>
    <a href="https://google.com">prizes</a>
  </div>

  <div class="main">
    <div class="container">
        <p>
        <span class="lessen">?- greeting(me)</span>
        <br>
        Welcome, <b>username</b>.
        <br>
        <br>
        <span class="lessen">?- numsolved(me)</span>
        <br>
        <b>0</b> solved.
        <br>
        <br>
        <span class="lessen">?- numpoints(me)</span>
        <br>
        <b>10</b> points.
        <br>
        <br>
        <span class="lessen">?- tenrecent(me)</span>
        <br>
        <table>
          <tr class="lessen">
            <td>Troubled Test</td>
            <td>(Feb 27 21:08)</td>
            <td>1938</td>
            <td>X</td>
          </tr>
          <tr class="lessen">
            <td>Troubled Test</td>
            <td>(Feb 27 21:08)</td>
            <td>1938</td>
            <td>X</td>
          </tr>
          <tr class="strengthen">
            <td>Infectious Network</td>
            <td>(Feb 27 21:08)</td>
            <td>SOBOTNIK</td>
            <td>?</td>
          </tr>
          <tr class="lessen">
            <td>Troubled Test</td>
            <td>(Feb 27 21:08)</td>
            <td>1938</td>
            <td>X</td>
          </tr>
          <tr class="lessen">
            <td>Metabolic Mayhem</td>
            <td>(Feb 27 21:08)</td>
            <td>LDLR</td>
            <td>X</td>
          </tr>
          <tr class="lessen">
            <td>Troubled Test</td>
            <td>(Feb 27 21:08)</td>
            <td>1938</td>
            <td>X</td>
          </tr>
          <tr class="lessen">
            <td>Troubled Test</td>
            <td>(Feb 27 21:08)</td>
            <td>1938</td>
            <td>X</td>
          </tr>
          <tr class="strengthen">
            <td>Infectious Network</td>
            <td>(Feb 27 21:08)</td>
            <td>SOBOTNIK</td>
            <td>?</td>
          </tr>
          <tr class="lessen">
            <td>Troubled Test</td>
            <td>(Feb 27 21:08)</td>
            <td>1938</td>
            <td>X</td>
          </tr>
          <tr class="lessen">
            <td>Metabolic Mayhem</td>
            <td>(Feb 27 21:08)</td>
            <td>LDLR</td>
            <td>X</td>
          </tr>
        </table>
        </p>
    </div>
  </div>
</body>
