<link href="../src/Styles/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  * {font-family: "Nunito", arial, sans};
  input:focus {
    outline:none !important;
};
</style>

<div class="px-8 bg-grey-lightest">
  <div class="flex flex-wrap h-screen content-center justify-center items-center">
      <div class="block md:w-3/4 lg:w-2/3 xl:w-1/2">
        <div class="inline-flex flex justify-center w-full">
          <div class="flex items-center sm:text-xl justify-center sm:h-12 w-auto px-3 py-3 rounded-l-lg font-black bg-red text-grey-lighter border-b-2 border-red-dark">
            <span class="w-auto">...</span>
          </div>
          <div class="flex items-center w-full p-3 px-5 sm:h-12 rounded-r-lg text-grey-darkest sm:text-lg font-bold uppercase bg-grey-lighter border-b-2 border-grey">
            Whoops...
          </div>
        </div>
        <div class="block w-full my-3 bg-white rounded-lg p-6 w-full text-base border-b-2 border-grey-light">
          <div class="text-lg">This page doesn't seem to exist. If you think it should, let us know and we'll be onto it!</div>

        </div>
        <div class="flex w-full justify-center">
          <button class="px-3 py-2 bg-red rounded-full border-b-4 border-red-dark w-full md:w-1/2 text-white active:border-0 outline-none focus:outline-none active:outline-none hover:bg-red-dark">Take me back home!</button>
        </div>
        </div>
    </div>
  </div>
</div>
