<link href="../src/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  * {font-family: "Nunito", arial, sans};
  input:focus {
    outline:none !important;
};
</style>

<div class="px-8 bg-grey-lightest">
  <div class="flex flex-wrap h-screen content-center justify-center items-center pt-20 md:pt-12">
      <div class="block md:w-3/4 lg:w-2/3 xl:w-1/2">
        <div class="inline-flex flex justify-center w-full">
          <div class="flex items-center sm:text-xl justify-center sm:h-12 sm:w-10 px-5 py-3 rounded-l-lg font-black bg-green text-grey-lighter border-b-2 border-green-dark">
            <span class="fas fa-sign-in-alt"></span>
          </div>
          <div class="flex items-center w-full p-3 px-5 sm:h-12 rounded-r-lg text-grey-darkest sm:text-lg font-bold uppercase bg-grey-lighter border-b-2 border-grey">
            User Login
          </div>
        </div>
        <div class="block w-full my-3 bg-white rounded-lg p-6 w-full text-base border-b-2 border-grey-light">
          <p>Input your email first and press <span class="bg-green px-2 py-1 text-xs rounded text-white">Send Token</span>.</p>
          <br>
          <p>A login code will be sent to your email. Input the code, and you're all set to login!</p>
          <div class="block w-full p-4 pb-1 mt-1">
            <div class="inline-flex w-full">
            <input class="flex-grow my-1 px-4 py-2 rounded-lg bg-grey-lighter outline-none text-grey-darker focus:bg-grey-lightest focus:text-grey-darkest rounded-r-none" placeholder="Email" type="email"></input>
            <button class="my-1 px-4 py-2 bg-green text-white rounded rounded-l-none border-b-2 border-green-dark focus:outline-none outline-none hover:bg-green-dark active:border-0">Send Token</button>
            </div>
            <input class="w-full my-1 px-4 py-2 rounded-lg bg-grey outline-none text-grey-darkest focus:bg-grey-lightest focus:text-grey-darkest cursor-not-allowed" placeholder="Token" disabled></input>
            </div>
            <div class="bg-grey-lighter border-green text-grey-darkest border-l-2 rounded rounded-l-none p-4 mt-3"> We're sorry, there was an issue with logging you in.</div>
          </div>
        <div class="flex w-full justify-center">
          <button class="px-3 py-2 bg-green rounded-full border-b-4 border-green-dark w-full md:w-1/2 text-white active:border-0 outline-none focus:outline-none active:outline-none hover:bg-green-dark">Login</button>
        </div>
        </div>
    </div>
  </div>
</div>
