<link href="../src/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  * {font-family: "Nunito", arial, sans};
  input:focus {
    outline:none !important;
};
</style>

<div class="px-8 bg-grey-lightest">
  <div class="flex flex-wrap h-screen content-center justify-center items-center pt-20 md:pt-12">
      <div class="block md:w-3/4 lg:w-2/3 xl:w-1/2">
        <div class="inline-flex flex justify-center w-full">
          <div class="flex items-center  sm:text-xl justify-center sm:h-12 sm:w-10 px-5 py-3 rounded-l-lg font-black bg-red-light text-grey-lighter border-b-2 border-red-dark">
            <span class="fas fa-user-plus"></span>
          </div>
          <div class="flex items-center w-full p-3 px-5 sm:h-12 rounded-r-lg text-grey-darkest sm:text-lg font-bold uppercase bg-grey-lighter border-b-2 border-grey">
            Register for the 2019 Puzzle Hunt
          </div>
        </div>
        <div class="block w-full my-3 bg-white rounded-lg p-6 w-full text-base border-b-2 border-grey-light">
          <p>We use a password-less login system similar to <a class="text-blue no-underline" href="https://blog.medium.com/signing-in-to-medium-by-email-aacc21134fcd">one coined by Medium.</a> <br> <br>All we require is a username and email - a name is optional.</p>
          <br>
          <p>Once you've registered, you can start logging in immediately. When you login, a short-term code will be sent to your email to confirm your identity. We never share your email, and will only email you to send you login codes.</p>
          <div class="block w-full p-4 pb-1 mt-1">
            <input class="w-full my-1 mt-0 px-4 py-2 rounded-lg bg-grey-lighter outline-none text-grey-darker focus:bg-grey-lightest focus:text-grey-darkest border-l-2 border-red-lighter rounded-l-none focus:border-red" placeholder="Username"></input>
            <input class="w-full my-1 px-4 py-2 rounded-lg bg-grey-lighter outline-none text-grey-darker focus:bg-grey-lightest focus:text-grey-darkest border-l-2 border-red-lighter rounded-l-none focus:border-red" placeholder="Email" type="email"></input>
            <div class="sm:flex inline-flex flex-wrap w-full">
              <div class="w-full md:w-1/2 md:pr-1">
                <input class="w-full my-1 px-4 py-2 rounded-lg bg-grey-lighter outline-none text-grey-darker focus:bg-grey-lightest focus:text-grey-darkest" placeholder="First Name"></input>
              </div>
              <div class="w-full md:w-1/2 md:pl-1">
                <input class="w-full my-1 px-4 py-2 rounded-lg bg-grey-lighter outline-none text-grey-darker focus:bg-grey-lightest focus:text-grey-darkest" placeholder="Last Name"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-full justify-center">
          <button class="px-3 py-2 bg-red-light rounded-full border-b-4 border-red-dark w-full md:w-1/2 text-white active:border-0 outline-none focus:outline-none active:outline-none hover:bg-red-dark">Sign me up!</button>
        </div>
    </div>
  </div>

</div>
