<link href="../src/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  * {font-family: "Nunito", arial, sans};
  input:focus {
    outline:none !important;
};
</style>

<div class="px-8 bg-grey-lightest">
  <div class="mb-4 flex flex-wrap content-center justify-center items-center pt-16">
      <div class="block md:w-5/6 lg:w-4/5 xl:w-3/4">
        <div class="inline-flex flex justify-center w-full">
          <div class="flex items-center  sm:text-xl justify-center  px-5 py-3 rounded-l-lg font-black bg-pink text-grey-lighter border-b-2 border-pink-dark">
            <span class="fas fa-table"></span>
          </div>
          <div class="flex items-center  w-full p-3 px-5 rounded-r-lg text-grey-darkest sm:text-lg font-bold uppercase bg-grey-lighter border-b-2 border-grey">
            Resources
        </div>
        </div>
        <div class="block w-full my-3 bg-white rounded-lg p-6 w-full text-base border-b-2 border-grey-light">
          <p>Here are some resources to get you started. </p>
          <br>


        </div>
    </div>
  </div>

</div>
