<link href="../src/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito|Raleway|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
  * {font-family: "Nunito", arial, sans};
  input:focus {
    outline:none !important;
};
</style>

<div class="px-8 bg-grey-lightest">
  <div class="flex flex-wrap h-screen content-center justify-center items-center">
      <div class="block md:w-3/4 lg:w-2/3 xl:w-1/2">
        <div class="inline-flex flex justify-center w-full">
          <div class="flex items-center sm:text-xl justify-center sm:h-12 sm:w-10 px-5 py-3 rounded-l-lg font-black bg-green text-grey-lighter border-b-2 border-green-dark">
            <span class="fas fa-glass-cheers"></span>
          </div>
          <div class="flex items-center w-full p-3 px-5 sm:h-12 rounded-r-lg text-grey-darkest sm:text-lg font-bold uppercase bg-grey-lighter border-b-2 border-grey">
            Congratulations!
          </div>
        </div>
        <div class="block w-full my-3 bg-white rounded-lg p-6 w-full text-base border-b-2 border-grey-light">
          <div class="text-lg">You completed __ and earned 100 points!</div>
          <br>
          <div class="text-lg">Great job!</div>
        </div>
        <div class="flex w-full justify-center">
          <button class="px-3 py-2 bg-green rounded-full border-b-4 border-green-dark w-full md:w-1/2 text-white active:border-0 outline-none focus:outline-none active:outline-none hover:bg-green-dark">Go Back to Puzzles</button>
        </div>
        </div>
    </div>
  </div>
</div>
