@tailwind preflight;
@tailwind components;
@tailwind utilities;


.markdown h1 {
  @apply font-light font-sans text-lg mt-8
}

.markdown h2 {
  @apply font-light font-sans mt-6
}

.markdown {
  line-height: 1.4;
}

.markdown p {
  @apply mt-3
}

.markdown code {
  @apply mt-3
}

a {
  @apply text-blue no-underline
}
* {
  font-family: 'Nunito', 'Roboto', 'Helvetica', 'Corbel', arial, sans-serif;
}

input:focus {
  outline:none !important;
};


.puzzle-detail {
  overflow-y: auto;
}
