@tailwind preflight;
@tailwind components;
@tailwind utilities;


.markdown h1 {
  @apply font-light font-sans text-lg mb-3 mt-6 border-grey border-b-2
}

.markdown h2 {
  @apply font-light font-sans mb-2 mt-4 border-grey border-b-2
}

.markdown {
  line-height: 1.1;
}

.markdown p {
  @apply mt-3
}

.markdown code {
  @apply mt-3
}

* {
  font-family: 'Nunito', 'Roboto', 'Helvetica', 'Corbel', arial, sans-serif;
}

input:focus {
  outline:none !important;
};
